server:
  port: 8080
  servlet:
    session:
      timeout: 20m

spring:
  application:
    name: spring-security-tutorial

  datasource:
    url: jdbc:mysql://localhost:3306/users
    username: user
    password: user

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.security: TRACE